.menu {
  padding: 38px 11px 10px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
}
.menu a:hover {
  color: #f8e71c;
}
a {
  font-size: 1rem;
  color: #333333;
  transition: all 0.3s ease-in;
  text-decoration: none;
}
@media (max-width: 1000px) {
  .menu {
    display: flex;
  }
}
