.footer {
  width: 80%;
  text-align: right;
  font-family: "Roboto Condensed", sans-serif;

  padding: 5px 10px;
  margin: 10px;
}
.footer p {
  display: inline;
  font-size: 17px;
  transition: all 0.3s ease-in;
}
.footer p:hover {
  background: #f8e71c;
}
